.banner-main {
    height: auto;

}

.prince-main {
    place-content: center;
    text-align: start;
    padding-left: 20px;
    line-height: 90px;
    min-height: 60vh;
    width: 100%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/026/911/393/non_2x/fashion-model-kids-free-photo.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-image: fill 0 linear-gradient(#0003, #000);

    header {
        font-family: "Bebas Neue", sans-serif;
        font-size: 70px;
        text-transform: uppercase;
        color: white;
        letter-spacing: 5px;
    }

    h5 {
        font-family: "New Amsterdam", sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 5px;

        text-decoration: underline;
    }

    span {
        font-family: "New Amsterdam", sans-serif;
        font-size: 100px;
        color: gold;
        letter-spacing: 3px;
    }
}

.coming-soon {
    color: rgb(236, 230, 123);
}